.home-main,
.patient-main,
.patient-main {
  margin: 10px;
  .home-header,
  .patient-header,
  .patient-header {
    border-bottom: 1px solid #1c1c1c;
  }
  .care-home-section,
  .patient-section {
    h4 {
      margin: 0px;
    }
    .patient-practice {
      padding-left: 5px;
    }
  }
}
